@model Person
<form asp-action="Add" method="post">
    <div>
        <input type="text" asp-for="FirstName" />

    </div>
    <div>
        <input type="text" asp-for="LastName" />

    </div>

    <div>
        <input type="submit" value="Save" />

    </div>


</form>